<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href=
"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    </head>
<body>
    <div class="calendar-container">
        <header class="calendar-header">
            
            <p class="calendar-current-date"></p>
                <div class="calendar-nav">
                    <span id="calendar-prev"
                        class="material-symbols-rounded">
                        chevron_left
                    </span>
                    <span id="calendar-next"
                            class="material-symbols-rounded">
                            chevron_right
                    </span>
                </div>
        </header> 

        <div class="calendar-body">
            <ul class="calendar-weekdays">
            <li>Sunday</li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>
    </div>    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>