<!DOCTYPE html>
<html>
<head>
    <title>Schedule for {{ date }}</title>
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='schestyle.css') }}">
        <link rel="stylesheet" href=
"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<body>
    <h1>Tasks for {{ date }}</h1>

    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <strong>{{ task.taskname }}</strong><br>
                    {{ task.description }}<br>
                    {{ task.start_time }} – {{ task.end_time }}
                    <form action="{{ url_for('delete_task', task_id=task._id) }}" method="POST" style="display:inline;">
                        <button id="delete" type="submit" >Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks scheduled for this date.</p>
    {% endif %}

    <div>
       <button id="addATask" >Add Task</button> 
    </div>
    <div class="center-form">
    <a href="{{ url_for('calendar') }}">Back to Calendar</a>
    </div>
    <script>
        document.getElementById("addATask").addEventListener("click", function() {
            const date = "{{ date }}";
            window.location.href = `/add-task/${date}`;
        });
    </script>
</body>
</html>